// Set the text color based on background-color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  }
  @else {
    @return #fff;
  }
}

// Transform mix-in
@mixin transform($property) {
  --webkit-transformm: $property;
  -ms-transform: $property;
  transform: $property;
}