/* COLORS REFERENCE */
/* #333 */
/* #444 */
/* #fff */
/* #f7c08a */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styles */
html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  color: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

/* Utilities */
.container {
  margin: auto;
  max-width: 1100px;
  padding: 0 20px;
  overflow: auto;
}

.l-text {
  font-size: 60px;
}

.text-primary {
  color: #f7c08a;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.btn-dark {
  display: inline-block;
  /* width: 200px; */
  border: none;
  border-radius: 3px;
  background: #333;
  color: #fff;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.btn-light {
  display: inline-block;
  border: none;
  border-radius: 3px;
  background: #f4f4f4;
  color: #333;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.btn-dark:hover, 
.btn-light:hover {
  background: #f7c08a;
  color: #333;
}

.box {
  text-align: center;
  float: left;
  width: 33.3%;
  padding: 50px;
}

.clr {
  clear: both;
}

.bg-primary {
  background: #f7c08a;
}

.bg-light {
  background: #f4f4f4;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

/* Navbar */
#navbar {
  background: #333;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar h1 a:hover {
  color: #f7c08a;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li .current, 
#navbar ul li a:hover {
  background: #444;
  color: #f7c08a;
}

/* Showcase */
#showcase {
  text-align: center;
  height: 600px;
  background: url('../img/traversy-showcase.jpg') no-repeat center center/cover;
}

#showcase h2 {
  padding-top: 125px;
  font-size: 72px;
  line-height: 1.2em;
}

#showcase p {
  font-size: 22px;
  padding: 35px 20px;
}

#showcase .btn-dark {
  margin-top: 25px;
  margin-bottom: 125px;
}

/* Home Info */
#home-info {
  height: 400px;
}

#home-info .home-img {
  background: url('../img/photo-1.jpg') no-repeat;
  float: left;
  width: 50%;
  min-height: 100%;
}

#home-info .home-text {
  background: #333;
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 0;
}

#home-info .home-text h2 {
  font-size: 24px;
}

#home-info .home-text p {
  padding: 50px 50px;
  font-size: 20px;  
}

/* Services */
#services {
  color: #333;
}

#services .box h3 {
  padding: 15px 0;
}

/* About */
#about-info {
  padding: 30px 0;
  background: #f4f4f4;
}

.info-left {
  float: left;
  width: 50%;
  color: #333;
}

.info-left h2 {
  font-size: 42px;
  padding-bottom: 25px;
}

.info-left p {
  padding-bottom: 25px; 
}

.info-right {
  float: right;
  width: 50%;
}

.info-right img {
  border-radius: 50%;
  width: 70%;
  display: block;
  margin: auto;
}

/* Testimonials */
#testimonials {
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  padding-top: 75px;
  /* height: 550px; */
}

#testimonials h2 {
  font-size: 50px;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 50px;
}

#testimonials .testimonial {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

.testimonial p {
  padding: 10px 0;
}

#testimonials .testimonial img {
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

/* Contact */
#contact-form {
  color: #333;
  background: #f4f4f4;
  padding: 30px;
}

#contact-form h2 {
  padding-bottom: 20px;
  line-height: 1.2em;
  font-size: 40px;
}

#contact-form p {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form input {
  width: 100%;
  height: 30px;
  padding: 5px;
  /* margin-bottom: 20px; */
  border: 1px solid #333;
  border-radius: 2px;
  font-size: 16px;
}

#contact-form textarea {
  width: 100%;
  height: 200px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 2px;
  font-size: 16px;
}

#contact-form input:focus, 
#contact-form textarea:focus {
  outline: none;
  border: 1px solid #f7c08a;
}

/* Contact Info */
#contact-info i {
  margin: 10px;
}

#contact-info p {
  margin-top: 10px;
}


/* Footer */
#main-footer {
  background: #444;
  text-align: center;
  padding: 25px;
}